---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button";
---

<Layout title="kcfuler">
  <main>
    <h1 class="text-red">Kcfuler</h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
    </p>
    <Button client:visible />
  </main>
</Layout>

<style>
  .instructions {
    font-family: "Satoshi";
    font-size: 20px;
  }
  h1 {
    font-family: "Satoshi";
  }
</style>
